.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 200px 200px 200px; */
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
        'header header header header'
        'menu main main sidebar'
        'footer footer footer footer'
}

.grid-item {
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
}

#item1 {
    grid-area: header;
}

#item2 {
    grid-area: menu;
}

#item3 {
    grid-area: main;
}

#item4 {
    grid-area: sidebar;
}

#item5 {
    grid-area: footer;
}