.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1.5fr 7.5fr 0.5fr;
    grid-gap: 1px;
    padding: 1px;
    grid-template-areas:
        'header header header header'
        'menu main main sidebar'
        'footer footer footer footer'
}

.grid-item {
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
}

#header {
    grid-area: header;
}

#menu {
    grid-area: menu;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

a {
    color: #292929;
    text-decoration: none;
}

#footer {
    grid-area: footer;
    background-color: #DADADA;
    border: none;
}

#footer ul {
    display: flex;
    justify-content: flex-end;
}

#footer li {
    padding: 0 10px;
    list-style: none;
}

#footer span {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
}